body{
    width: 1440.0px;
height: 1980.0px;
background: linear-gradient(#95E184,#FFFFFF,#95E184);

}
.head{
    width: 1440.0px;
height: 59.99999999999996px;
font-family: Arial;
font-size: 14.0px;
font-weight: 400;
text-align: center;
color: #333333;
background-color: #FFFFFF;

}