/* * { outline: 1px dotted red } */

body{
   background-color: aliceblue;  
   font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;
    height:80px;
    background-color: #ffff;
    padding-bottom: 0%;
}

ul{
margin: 0;
padding: 0;
float: right;
}

ul li{
/* display: inline-block; */
float: left;
 line-height: 80px;
list-style:none;

}

ul li a{
 
  text-decoration: none;
  font-size: larger;
  font-family: arial;
  font-weight:bold;
  padding: 0px 20px;
  color:black;

}

label a{
  line-height: 80px;
  text-decoration: none;
  font-size: 30px;
  padding-left: 5px;
  color: green;
  font-weight: bolder;
}

ul li a:hover{
  color:red;
  font-weight: bolder;
}

.banner{
  width:100%;
  height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(imgsvd/digital.jpeg);
}

.sector-specific{
  width: 100%;
  height: 400px;
}

.content1{
  padding-right: 1em;
  /* border-right: 2px solid black;
  height: 200px; */
  /* position: absolute; */
  /* left: 50%; */
  /* margin-left: -3px; */
  
  
}


.wrapper{
margin: 0 auto;
width:90%
}

.sector1{
  padding-top: 1em;
  width: 32%;
  height: 20%;
  border-radius: 84px;
}

.sector2{
  padding-top: 1em;
  padding-left:1em;
  padding-right: 1em;
  width: 32%;
  height: 20%;
  border-radius: 84px;
}

.sector3{
  padding-top: 1em;
  width: 32%;
  height: 20%;
  border-radius: 84px;
}

footer{
  width: 100%;
  height: 300px;
  background-color: black;
  padding-top: 3em;
  
}

.company ol li a {
 color:white;
 text-decoration: none;
 font-size: 20px;
}

.company ol li a:hover{
  color:red;
  font-weight: bolder;
}

.support ol li a {
  color:white;
  font-size: 20px;
  text-decoration: none;
}

.support ol li a:hover{
  color:red;
  font-weight: bolder;
}


.address ol li  {
  color:white;
  font-size: 20px;
  list-style:none;
}



.sector-footer-grid{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
}

.sector-body-grid{
  display:grid;
  grid-template-columns:0.5fr 1fr ;
}

article{
  color: white;
  padding: 7em;
}


